
*.mpf
PathFinderTool/bin/Debug/net8.0/PathFinderTool.deps.json
PathFinderTool/bin/Debug/net8.0/PathFinderTool.exe
PathFinderTool/bin/Debug/net8.0/PathFinderTool.runtimeconfig.json
PathFinderTool/obj/Debug/net8.0/PathFinderTool.AssemblyInfo.cs
PathFinderTool/obj/Debug/net8.0/PathFinderTool.AssemblyInfoInputs.cache
*.cache
*.dll
*.exe
PathFinderTool/obj/PathFinderTool.csproj.nuget.dgspec.json
PathFinderTool/obj/Debug/net8.0/PathFinderTool.sourcelink.json
*.pdb
*.editorconfig
PathFinderTool/obj/Debug/net8.0/PathFinderTool.csproj.FileListAbsolute.txt
PathFinderTool/obj/Debug/net8.0/PathFinderTool.AssemblyInfoInputs.cache
PathFinderTool/obj/Debug/net8.0/PathFinderTool.AssemblyInfoInputs.cache
.vs/PathFinderTool/v17/DocumentLayout.json
.vs/PathFinderTool/FileContentIndex/03dd0c3c-924f-4908-8e9c-8b689cce4b61.vsidx
.vs/PathFinderTool/v17/.suo
PathFinderTool/obj/Debug/net8.0/PathFinderTool.AssemblyInfo.cs
PathFinderTool/obj/Debug/net8.0/PathFinderTool.AssemblyInfoInputs.cache
PathFinderTool/obj/Debug/net8.0/PathFinderTool.assets.cache
PathFinderTool/obj/Debug/net8.0/PathFinderTool.GeneratedMSBuildEditorConfig.editorconfig
PathFinderTool/obj/PathFinderTool.csproj.nuget.dgspec.json
PathFinderTool/obj/project.assets.json
PathFinderTool/obj/project.nuget.cache
PathFinderTool/obj/Debug/net8.0/PathFinderTool.AssemblyInfo.cs
PathFinderTool/obj/Debug/net8.0/PathFinderTool.AssemblyInfoInputs.cache
PathFinderTool/obj/Debug/net8.0/PathFinderTool.assets.cache
PathFinderTool/obj/Debug/net8.0/PathFinderTool.AssemblyInfo.cs
PathFinderTool/obj/Debug/net8.0/PathFinderTool.AssemblyInfoInputs.cache
PathFinderTool/obj/Debug/net8.0/PathFinderTool.assets.cache
PathFinderTool/obj/Debug/net8.0/PathFinderTool.GeneratedMSBuildEditorConfig.editorconfig
PathFinderTool/obj/Debug/net8.0/PathFinderTool.AssemblyInfoInputs.cache
.vs/PathFinderTool/FileContentIndex/73017823-f07e-4df7-8316-1604f28d04b2.vsidx
PathFinderTool/obj/Debug/net8.0/PathFinderTool.AssemblyInfoInputs.cache
PathFinderTool/obj/Debug/net8.0/PathFinderTool.AssemblyInfo.cs
*.cache
PathFinderTool/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
PathFinderTool/obj/Debug/net8.0/PathFinderTool.GlobalUsings.g.cs
